@media (max-width: 1760px) {
    .page-template-template-home-full-width {
        .mf-product-deals-day {
            .slick-arrow {
                display: none !important;
            }

            &.style-1 .slick-dots {
                display: block !important;
            }
        }

        .mf-products-tabs,
        .mf-products-carousel,
        section.up-sells ul.products,
        section.related ul.products,
        .mf-product-instagram .slick-slider {
            .slick-arrow {
                display: none !important;
            }

            .slick-dots {
                display: block !important;
                margin-bottom: 0 !important;
            }
        }
    }

}

@media (max-width: 1680px) {
    .martfury-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .mf-recently-products.rv-full-width {
        & > .rv-container {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media (max-width: 1600px) and (min-width: 1300px) {
    .page-template-template-home-full-width {
        .mf-banner-medium.layout-5 .banner-content .title {
            font-size: 24px;
        }

        .mf-banner-medium.layout-5 .banner-content .desc .price {
            font-size: 16px;
        }
    }

    .single-product-layout-6.woocommerce div.product.mf-has-buy-now .cart {
        .actions-button {
            .yith-wcwl-add-to-wishlist {
                margin-left: 0;
            }

            .mf-wishlist-button {
                clear: both;
            }

            .mf-wishlist-button,
            .mf-compare-button {
                float: left;
                padding-top: 10px;
            }

            .yith-wcwl-add-to-wishlist .yith-wcwl-add-button > a,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse > a,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse > a,
            .mf-compare-button .compare {
                width: auto;
                height: auto;
                overflow: visible;
                display: flex;
                align-items: center;

                &:before {
                    padding-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 1299px) and (min-width: 1200px) {
    .page-template-template-home-full-width {
        .mf-banner-medium.layout-5 .banner-content .link-box {
            display: none;
        }
    }
}

@media (max-width: 1500px) and (min-width: 1320px) {
    .page-template-template-home-full-width {
        .mf-image-box {
            .box-title {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1319px) and (min-width: 1200px) {
    .page-template-template-home-full-width {
        .mf-image-box.style-2 {
            .box-title {
                padding-left: 5px;
                padding-right: 5px;
                font-size: 12px;

            }
        }
    }
}

@media (max-width: 1460px) and (min-width: 1200px) {
    .page-template-template-home-full-width {
        .mf-banner-small .banner-content .desc {
            display: none;
        }

        .mf-banner-small .box-price .s-price {
            font-size: 14px;
        }

        .mf-banner-small .box-price {
            width: 50px;
            height: 50px;
        }

        .mf-banner-large .col-banner-content {
            width: 35%;
        }

        .mf-banner-large.layout-2 .banner-content .box-title, .mf-banner-large.layout-3 .banner-content .box-title {
            font-size: 24px;
        }
    }

    .single-product-layout-6 {
        &.woocommerce div.product .tawc-deal {
            .deal-expire-date {
                .deal-expire-text {
                    width: 30%;
                    font-size: 14px;
                }

            }

            .deal-sold {
                .deal-sold-text {
                    width: 30%;
                    font-size: 14px;
                }

                .deal-progress,
                .deal-text {
                    width: 70%;
                }
            }

        }
    }

}

@media (max-width: 1366px) and (min-width: 1300px) {
    .single-product-layout-6 {
        &.woocommerce div.product .tawc-deal {
            .deal-expire-countdown {
                .digits {
                    font-size: 26px;
                    min-width: 50px;
                }
                .text {
                    font-size: 13px;
                }
            }

        }
    }
}

@media (max-width: 1299px) and (min-width: 1200px) {
    .single-product-layout-6 {
        &.woocommerce div.product .tawc-deal {
            .deal-expire-date {
                display: block;

                .deal-expire-text {
                    width: 100%;
                }

                .deal-expire-countdown .days {
                    padding-left: 0;
                }
            }

            .deal-sold .deal-sold-text,
            .deal-sold .deal-progress,
            .deal-sold .deal-text {
                width: 100%;
                padding-left: 0;
            }

        }
    }
}

@media (max-width: 1400px) and (min-width: 1200px) {
    .header-layout-3 .site-header .primary-nav > ul > li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-layout-3 .header-bar .widget {
        padding-left: 15px;
        padding-right: 15px;
    }

    .martfury-icons-list.style-3,
    .martfury-icons-list.style-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .martfury-icon-box.icon_position-left .box-wrapper {
        padding-left: 15px;
    }

    .martfury-icon-box.icon_position-left .box-icon i {
        font-size: 35px;
    }

    .martfury-icons-list ul .icon-box-step {
        display: none;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .header-layout-3 .site-header .primary-nav > ul > li {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header-layout-3 .header-bar .widget {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1300px) {

    .single-product-layout-6.woocommerce div.product form.cart {
        .actions-button {
            float: left;
            margin-top: 20px;
            display: flex;
            align-items: center;
        }
        .buy_now_button {
            float: none;
            margin-left: 0;
        }
    }
}

@media (min-width: 1200px) {
    .col-mf-5 {
        width: 20%;
    }

    .catalog-full-width {
        .col-cat:nth-child(3n+1) {
            clear: none;
        }

        .col-cat:nth-child(4n+1) {
            clear: both;
        }

        .mf-catalog-brands .brand-item {
            width: calc(100% / 8);
        }

        &.sidebar-content,
        &.content-sidebar {
            .content-area {
                width: 81%;
            }

            .catalog-sidebar {
                width: 19%;
            }
        }
    }

    .single-product-layout-6 {
        &.sidebar-content,
        &.content-sidebar {
            .content-area {
                width: 81%;
            }

            .product-sidebar {
                width: 19%;
            }
        }

        &.sidebar-content {
            .content-area {
                padding-left: 50px;
            }
        }

        &.content-sidebar {
            .content-area {
                padding-right: 50px;
            }
        }
    }
}

@media (max-width: 1366px) {
    // Shortcode
    .mf-product-deals-day {
        .slick-arrow {
            display: none !important;
        }

        &.style-1 .slick-dots {
            display: block !important;
        }
    }

    .mf-products-tabs,
    .mf-products-carousel,
    section.up-sells ul.products,
    section.related ul.products,
    .mf-product-instagram .slick-slider {
        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            display: block !important;
            margin-bottom: 0 !important;
        }
    }

    .page-template-template-home-full-width {
        .mf-banner-medium.layout-5 .banner-content .title {
            font-size: 18px;
        }

        .mf-banner-medium.layout-5 .banner-content .desc .price {
            font-size: 14px;
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .single-product-layout-6.woocommerce div.product form.cart {
        .actions-button {
            display: block;
        }

        .buy_now_button {
            width: 100%;
        }
    }

    .header-layout-2 .site-header .primary-nav {
        & > ul > li {
            padding-left: 10px;
            padding-right: 10px;

            & > a {
                font-size: 14px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .sticky-header .site-header.minimized .header-main .products-cats-menu .cats-menu-title {
        & > i {
            display: none;
        }

        .text {
            padding-right: 20px;
            transition: none;
            margin-top: 5px;
            line-height: 1;
            &:after {
                content: '\e93a';
                display: inline-block;
                font: normal normal normal 14px/1 linearicons;
                position: absolute;
                right: 0;
                top: 8px;
                font-size: 12px;
                font-weight: 700;
                transition: .2s;
            }
        }
    }

    .header-layout-1 .site-header {

       .header-bar {
           display: none;
       }

        .products-cats-menu {
            .toggle-product-cats {
                min-width: 270px;
            }
        }
        .products-cats-menu.open {
            &:before {
                width: 0;
                left: 50%;
                right: auto;
            }

            .cats-menu-title:after {
                transform: translateY(-50%);
            }

            .toggle-product-cats {
                opacity: 0;
                top: 120%;
                z-index: -991;
            }

            &:hover {
                &:before {
                    width: 100%;
                    left: 0;
                    right: 0;
                }

                .cats-menu-title:after {
                    transform: rotate(180deg) translateY(50%);
                }

                .toggle-product-cats {
                    opacity: 1;
                    top: 100%;
                    z-index: 991;
                }
            }
        }
    }

    .header-layout-2,
    .header-layout-4,
    .header-layout-5,
    .header-layout-6 {
        .site-header {
            &:not(.minimized) .d-department.mf-close {
                .toggle-product-cats {
                    display: block;
                }

                .products-cats-menu {
                    .cats-menu-title:after {
                        display: block;
                    }
                }
            }
        }
    }

    .header-layout-5 .site-header .primary-nav>ul>li {
        padding-left: 10px;
        padding-right: 10px;

        & > a {
            font-size: 14px;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .header-layout-3 .site-header {

       .recently-viewed .recently-title {
           display: inline-block;
       }

        .products-cats-menu {
            .toggle-product-cats {
                min-width: 270px;
            }
        }
        .products-cats-menu.open {
            &:before {
                width: 0;
                left: 50%;
                right: auto;
            }


            .toggle-product-cats {
                opacity: 0;
                top: 120%;
                z-index: -991;
            }

            &:hover {
                &:before {
                    width: 100%;
                    left: 0;
                    right: 0;
                }

                .toggle-product-cats {
                    opacity: 1;
                    top: 100%;
                    z-index: 991;
                }
            }
        }
    }

}

@media (max-width: 1199px) and (min-width: 1025px) {
    .mf-product-deals-carousel .product .entry-summary .tawc-deal .deal-expire-date .deal-expire-countdown {
        .digits {
            font-size: 24px;
            min-width: 50px;
        }

        .text {
            font-size: 13px;
        }

        .divider {
            width: 10px;
        }

    }
}


@media (max-width: 1199px) {

    .site-header .extras-menu {
        margin-left: 20px;
        & > li {
            padding: 0 10px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .header-layout-3 .site-header .header-bar {
        display: none;
    }

    .header-layout-3 .site-header .col-nav-menu {
        display: block;
    }

    .mf-other-categories .categories-list .col-cat {
        width: 20%;
    }

    .mf-product-layout-4 .woocommerce-Reviews {
        .col-average-rating,
        .col-review_form {
            width: 100%;
        }

        .col-review_form {
            margin-top: 30px;
        }
    }

    .woocommerce div.product {
        .tawc-deal {
            .deal-expire-date {
                display: block;
                .deal-expire-text {
                    width: 100%;
                }

                .deal-expire-countdown {
                    .days {
                        padding-left: 0;
                    }
                }
            }

            .deal-sold {
                margin-top: 20px;
                .deal-sold-text,
                .deal-progress,
                .deal-text {
                    width: 100%;
                    padding-left: 0;
                }
            }

        }
    }

    .woocommerce div.product.mf-has-buy-now .cart {
        .actions-button {
            .yith-wcwl-add-to-wishlist {
                margin-left: 0;
            }

            .mf-wishlist-button {
                clear: both;
            }

            .mf-wishlist-button,
            .mf-compare-button {
                float: left;
                padding-top: 10px;
            }

            .yith-wcwl-add-to-wishlist .yith-wcwl-add-button > a,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse > a,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse > a,
            .mf-compare-button .compare {
                width: auto;
                height: auto;
                overflow: visible;
                display: flex;
                align-items: center;

                &:before {
                    padding-right: 10px;
                }
            }
        }
    }

    .woocommerce div.product.mf-product-layout-3 .cart .actions-button .mf-wishlist-button,
    .woocommerce div.product.mf-product-layout-3 .cart .actions-button .mf-compare-button {
        padding-top: 0;
    }

    .mf-product-fbt ul.products li.product {
        width: 25%;
    }

    .single-post-header.layout-2 .featured-image,
    .vc_row.parallax {
        background-attachment: scroll;
        background-position: center !important;
        background-size: cover;
    }

    // Footer
    .footer-layout {
        .newsletter-content {
            margin-bottom: 15px;
        }

        .footer-info {
            .info-item {
                width: 50%;
                max-width: 50%;
                justify-content: center;
            }

            .info-item-sep {
                display: none;
            }

        }

        .footer-row {
            display: block;
            text-align: center;

            &:after {
                display: block;
                content: "";
                clear: both;
            }
        }

        .footer-payments {
            justify-content: center;
            margin-top: 15px;
        }
    }

    // Shortcode
    body {
        .martfury-empty-space {
            .mf_empty_space_md {
                display: block;
            }

            .mf_empty_space_lg,
            .mf_empty_space_xs {
                display: none;
            }
        }
    }

    .martfury-icons-list ul li {
        width: 49%;
        margin: 10px 0;
        justify-content: left;
        padding: 0;

        &:nth-child( 2n ):after {
            display: none;
        }
    }

    .mf-products-of-category {
        .images-slider {
            display: none;
        }

        .cats-info {
            width: 25%;
        }

        .products-box {
            width: 75%;
            border-left: 1px solid #e1e1e1;
        }
    }

    .woocommerce ul.products li.product .mf-product-thumbnail .footer-button {
        .mf-product-quick-view,
        .mf-compare-button {
            display: none;
        }
    }

    .site-footer {
        .footer-widgets .footer-sidebar {
            max-width: 33.33%;
        }
    }

    .mf-category-tabs .tabs-content ul li {
        width: 16.66%;
    }

    .mf-products-of-category-2 {
        .products-side ul.products li.product {
            &:last-child {
                display: none;
            }
        }

        .slick-dots {
            margin-bottom: 20px !important;
        }
    }

    .dokan-single-store .profile-frame .profile-layout-mf_custom.profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info-head {
        top: 0;
    }

    .dokan-single-store .profile-frame .profile-layout-mf_custom.profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info {
        .dokan-store-info {
            top: 0;

            li {
                text-align: left;
            }
        }

        .store-social-wrapper {
            text-align: left;
        }

    }

    .mf-products-carousel:not(.mf-product-deals-day) .cat-header {
        display: block;

        .extra-links {
            margin-top: 15px;
        }
    }

    .mf-products-list .cat-header {
        display: block;

        .extra-links {
            margin-top: 15px;
        }
    }

    .mf-products-grid .cat-header {
        display: block;

        .tabs-header-nav {
            margin-top: 15px;
        }
    }

    .mf-banner-large .banner-content .desc {
        br {
            display: none;
        }
    }

    .woocommerce ul.products {
        li.product {

            &:nth-child( 3n+1 ) {
                clear: both;
            }

            &.un-4-cols {
                &:nth-child( 3n+1 ) {
                    clear: none;
                }

                &:nth-child( 4n+1 ) {
                    clear: both;
                }

            }

            &.un-5-cols {
                &:nth-child( 5n+1 ) {
                    clear: none;
                }

                &:nth-child( 3n+1 ) {
                    clear: none;
                }

                &:nth-child( 4n+1 ) {
                    clear: both;
                }

            }

            &.un-6-cols {
                &:nth-child( 6n+1 ) {
                    clear: none;
                }

                &:nth-child( 3n+1 ) {
                    clear: none;
                }

                &:nth-child( 4n+1 ) {
                    clear: both;
                }

            }

        }
    }

    .martfury-faq_group {
        .faq-item {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px) {

    .mf-products-list {
        ul.products {
            li.product {

                &.un-4-cols {
                    width: 33.33%;
                }

            }
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .mf-products-list.woocommerce {
        ul.products {
            li.product {
                &.un-4-cols,
                &.un-3-cols {
                    width: 50%;

                    &:nth-child( 3n+1 ) {
                        clear: none;
                    }

                    &:nth-child( 2n+1 ) {
                        clear: both;
                    }
                }

            }
        }
    }
}

@media (max-width: 1024px) {
    .wcfm-store-page #wcfmmp-store .right_side {
        padding-left: 0;
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .mf-product-deals-carousel .product .entry-summary .tawc-deal .deal-expire-date .deal-expire-countdown {
        justify-content: flex-start;
    }
}

@media (max-width: 991px) {

    // Header
    .site-header {
        .header-extras {
            width: auto;
            .product-extra-search {
                display: none;
            }

            .extras-menu {
                & > li {
                    .extra-icon {
                        font-size: 24px;
                    }
                }
            }

            .menu-item-account {
                &.logined {
                    text-align: right;

                    & > a {
                        width: auto;
                    }

                    &.avatar {
                        & > a {
                            width: 30px;
                        }
                    }
                }

            }

            .menu-item-account ul {
                display: none;
            }

            .menu-item-cart {
                .mini-cart-content {
                    display: none;
                }

                & > a:after {
                    display: none;
                }
            }

            .menu-item-account {
                & > a:after {
                    display: none;
                }
            }
        }

        .header-logo {
            width: 50%;
        }

        .header-row {
            justify-content: space-between;
        }

        &.has-hot-words {
            .header-logo,
            .extras-menu {
                margin-top: 0;
            }

            .mobile-menu-row {
                align-items: flex-start;

                .mf-toggle-menu {
                    margin-top: 6px;
                }
            }
        }

        .mobile-menu {
            padding: 0 0 15px;

            .search-submit {
                width: 60px;
                overflow: hidden;
                border-radius: 0;
                padding: 0;
                min-width: auto;
                &:before {
                    .icon('\e922');
                    display: block;
                    height: 42px;
                    line-height: 42px;
                    font-size: 20px;
                }
            }
        }

        .mobile-menu-row {
            display: flex;
            align-items: center;

            .mf-toggle-menu {
                font-size: 30px;
                color: @dark;
                display: block;
                line-height: 1;
                padding-left: 30px;
                padding-right: 20px;
            }
        }
    }

    #site-header .header-logo .d-logo {
        max-width: 100%;
        margin-right: 0;
    }

    .site-header .product-extra-search .product-cat {
        display: none;
    }

    .site-header .product-extra-search .search-field {
        border-left: 1px solid #ccc;
    }

    .primary-mobile-nav {
        z-index: 999999;
        display: block;
    }

    .site-header .martfury-container .header-extras,
    .site-header .martfury-container .mr-header-menu {
        width: auto;
    }

    .site-header .martfury-container .header-logo {
        width: 50%;
    }

    .header-layout-5 {
        .site-header {
            .mobile-menu-row .mf-toggle-menu {
                color: @light;
            }
        }
    }

    .sticky-header {
        .site-header {
            &.minimized {

                .header-main {
                    position: static;
                }

                .mobile-menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 9999;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: #fff;
                    -webkit-animation-name: fadeInDown;
                    animation-name: fadeInDown;
                    -webkit-animation-duration: .25s;
                    animation-duration: .25s;
                    border-bottom: 1px solid #e1e1e1;
                }

                .header-mobile-v1 {
                    .header-main {
                        position: fixed;
                        top: 0;
                        padding-left: 15px;
                        padding-right: 15px;
                        border-bottom: none;
                    }

                    .mobile-menu {
                        position: static;
                    }
                }
            }
        }

        &.sticky-header-bottom {
            .site-header {
                &.minimized {
                    .header-mobile-v1 {
                        .header-main {
                            position: static;
                        }

                        .mobile-menu {
                            position: fixed;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }

    .header-layout-3,
    .header-layout-4,
    .header-layout-5 {
        .site-header .mobile-menu {
            border-color: rgba(255, 255, 255, 0.15);
        }
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;

        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    input[type="text"] {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;
    }

    .topbar {
        background-color: #f4f5f5;
    }

    .top-promotion {
        display: none;
    }

    .mf-catalog-brands .brand-item {
        width: 33.33%;
        margin: 10px 0;
    }

    .woocommerce ul.products {
        margin-left: -10px;
        margin-right: -10px;
        li.product {
            padding-right: 10px;
            padding-left: 10px;
            .product-inner {
                padding: 0;
                border: none;
            }

            .mf-product-details-hover {
                padding: 0;
                border: none;
                left: 0;
                right: 0;
            }

            &:nth-child( 3n+1 ) {
                clear: both;
            }

            &.un-4-cols {
                &:nth-child( 4n+1 ) {
                    clear: none;
                }

                &:nth-child( 3n+1 ) {
                    clear: both;
                }

            }

            &.un-5-cols {
                &:nth-child( 5n+1 ) {
                    clear: none;
                }

                &:nth-child( 4n+1 ) {
                    clear: none;
                }

                &:nth-child( 3n+1 ) {
                    clear: both;
                }

            }

            &.un-6-cols {
                &:nth-child( 6n+1 ) {
                    clear: none;
                }

                &:nth-child( 4n+1 ) {
                    clear: none;
                }

                &:nth-child( 3n+1 ) {
                    clear: both;
                }

            }

            .product-inner {
                .mf-product-content,
                .mf-product-price-box {
                    display: none;
                }

                .mf-product-details-hover {
                    position: static;
                    opacity: 1;
                    min-height: auto;

                    .mf-rating {
                        display: flex;
                    }
                }

            }

        }
    }

    .mf-product-deals-grid ul.products {
        margin-right: 0;
        margin-left: 0;
    }

    .shop-view-list,
    .shop-view-list .wcfmmp-store-page-wrap {
        ul.products:not(.slick-slider) {
            li.product {
                .product-inner {

                    .mf-product-content,
                    .mf-product-price-box {
                        display: block;

                        .action-button .mf-compare-button {
                            display: none !important;
                        }
                    }

                    .mf-product-details-hover {
                        position: absolute;
                        background-color: transparent !important;
                        display: none;
                        .mf-rating {
                            display: none;
                        }

                        .mf-attr-swatches {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .mf-products-of-category .products-box ul.products li .mf-product-details-hover,
    .mf-products-list ul.products li.product .product-inner .mf-product-content,
    .mf-products-list ul.products li.product .product-inner .mf-product-price-box {
        display: block;
    }

    .mf-catalog-top-categories {
        .col-top-categories {
            margin-top: 20px;
        }

        .top-categories-list .categories-list {
            & > li {
                position: relative;
                .cat-menu-close {
                    display: block;
                }

                &.opened {
                    .cat-menu-close i:before {
                        content: "\e939";
                    }
                }
            }

            .sub-categories {
                display: none;
                position: static;
                transform: scaleX(1);
                opacity: 1;
                border: none;
            }
        }

        .top-categories-grid .col-cat {

            &:last-child,
            &:nth-child(3n) {
                border-right: 1px solid rgba(141, 141, 141, 0.15);
            }

            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3) {
                border-bottom: 1px solid rgba(141, 141, 141, 0.15);
            }
        }
    }

    .mf-other-categories .categories-list .col-cat {
        width: 33.33%;

        &:nth-child( 3n+1 ) {
            clear: both;
        }
    }

    .site-content .widgets-area {
        margin-top: 50px;
    }

    .mf-product-layout-4 {
        .widgets-area {
            margin-top: 0;
        }
    }

    .martfury-newletter {
        .form-area {
            padding: 30px;
        }

        &.no-image .form-area {
            padding-right: 30px;
        }
    }

    .mf-product-fbt ul.products li.product {
        width: 50%;

        &:nth-child( 3n + 1 ) {
            clear: none;
        }
    }

    .woocommerce-cart table.shop_table tr {
        .product-price,
        .product-thumbnail,
        .product-subtotal {
            display: none;
        }
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name {
        padding-top: 10px;
        .product-detail-mobile {
            display: block;
            margin-top: 5px;

            .woocommerce-Price-amount,
            label {
                display: inline-block;
            }

            .product-item {
                padding: 3px 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                label {
                    padding-right: 5px;
                    font-weight: 400;
                    color: #999;
                }

                .quantity {
                    display: inline-block;
                }
            }

            .product-item-qty {
                margin-bottom: 5px;
                .quantity .label {
                    display: none;
                }
            }
        }
    }

    .single-product-layout-6.woocommerce div.product form.cart {

        .actions-button {
            width: 100%;
            float: left;
        }

        .buy_now_button {
            float: left;
            margin-right: 30px;
        }
    }

    .site-footer {
        .footer-links .widget_nav_menu {
            margin-bottom: 25px;
            .widget-title {
                display: block;
                margin-bottom: 5px;
            }

            ul {
                display: block;
                margin-left: -10px;
                margin-right: -10px;
            }
        }

        .footer-widgets {
            padding-bottom: 50px;
            .footer-sidebar {
                width: 50%;
                max-width: 50%;
                margin-bottom: 30px;
            }
        }
    }

    .mf-category-tabs .tabs-content ul li {
        width: 25%;
    }

    .mf-banners-grid {
        margin-left: 0;
        .l-banners {
            width: 100%;

            .item-large:last-child {
                display: none;
            }
        }

        .r-banners {
            display: none;
        }
    }

    .mf-banners-grid-2 {
        margin-left: 0;

        .r-banners {
            display: none;
        }
    }

    .mf-products-of-category-2 {
        .cats-header {
            display: block;

            .extra-links {
                margin-top: 10px;
                flex-wrap: wrap;
            }
        }

        .mf-products-tabs {
            margin-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .images-slider {
            padding: 15px;
        }

        .products-cat {
            display: block;
        }

        .products-side {
            padding: 0 20px;

            ul.products li.product:last-child {
                display: flex;
            }

            .link {
                margin-bottom: 20px;
                justify-content: flex-start;
            }
        }
    }

    .mf-entry-product-header {
        .entry-left,
        .social-links {
            max-width: 100%;
            float: none;
        }

        .social-links {
            margin: 10px 0;
        }
    }

    .woocommerce {
        div.product {
            .woocommerce-product-gallery,
            .entry-summary {
                width: 100%;
                float: none;
                padding-left: 0;
            }

            .entry-summary {
                margin-top: 40px;
            }

        }

        .mf-single-product {
            &.mf-product-sidebar {
                div.images,
                .entry-summary {
                    width: 100%;
                    float: none;
                    padding-left: 0;
                    .flex-control-nav {
                        max-width: 400px;
                    }
                }
            }

            &.mf-product-layout-3 {
                .woocommerce-product-gallery,
                .entry-summary {
                    width: 100%;
                    float: none;
                }

                div.images img {
                    width: auto;
                }
            }

        }
    }

    .woocommerce-cart .woocommerce .coupon {
        margin-bottom: 20px;
    }

    .woocommerce-checkout .col-form-coupon,
    .woocommerce-checkout .col-form-login {
        margin-bottom: 0;
    }

    .martfury-journey,
    .martfury-journey-els {
        .journey-wrapper {
            width: 100%;
            max-width: 100%;
            left: 0 !important;
            padding: 20px;

            &:before {
                display: none;
            }
        }

        .journey-content {
            position: relative;
        }

        ul {
            width: 100%;
            flex-wrap: wrap;
        }
    }

    .martfury-process {
        .process-step {

            &:before {
                left: 67px;
            }
            .step {
                left: 15px;
                transform: none;
            }
        }

        .process-content {
            padding-left: 120px;
            flex-direction: column !important;
        }

        .process-image {
            text-align: left;
        }
    }

    .dokan-store {
        .dokan-single-store.dokan-w8 {
            width: 100%;
            padding-left: 0;
            margin-top: 30px;
        }

        .dokan-store-sidebar {
            width: 100%;
        }
    }

    .mf-taxs-list ul {
        li {
            padding-left: 10px;
            padding-right: 10px;

            a {
                font-size: 16px;
            }
        }
    }

    .blog-wapper {
        &:nth-child( 3n+1 ) {
            clear: none;
        }

        &:nth-child( 2n+1 ) {
            clear: both;
        }

        &.post-item-list {
            &.format-video,
            &.format-gallery,
            &.format-audio,
            &.format-standard,
            &.format-image {
                flex-wrap: wrap;
                .entry-header,
                .entry-content {
                    width: 100%;
                }
            }
        }
    }

    .single-post.content-sidebar .content-area,
    .blog-layout-small-thumb .content-area,
    .blog-layout-content-sidebar .content-area {
        padding-right: 15px;
    }

    .single-post.sidebar-content .content-area,
    .blog-layout-sidebar-content .content-area {
        padding-left: 15px;
    }

    .blog-layout-sidebar-content,
    .blog-layout-content-sidebar {
        .blog-wapper {
            &:nth-child( 2n+1 ) {
                clear: none;
            }
        }
    }

    .comment-list .children {
        padding-left: 0;
    }

    .comment-respond .comment-form-email,
    .comment-respond .comment-form-author {
        padding-left: 0;
        padding-right: 0;
    }

    .woocommerce-account .woocommerce {
        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content {
            width: 100%;
            float: none;
        }

        .woocommerce-MyAccount-navigation {
            margin-bottom: 30px;
        }
    }

    .woocommerce-account .site-content {
        padding-bottom: 50px;
    }

    .mf-product-deals-carousel.woocommerce .product {
        .woocommerce-product-gallery,
        .entry-summary {
            width: 100%;
        }

    }

    .mf-products-of-category .cats-info h2 {
        font-size: 20px;
    }

    .mf-catalog-categories .col-cat {
        &:nth-child(3n+1) {
            clear: none
        }

        &:nth-child(2n+1) {
            clear: both;
        }
    }

    .woocommerce div.product .wc-tabs-wrapper .average-rating {
        margin-bottom: 30px;
    }

    .martfury-counter,
    .martfury-counter-els {
        .counter {
            font-size: 36px;
        }
    }

    .woocommerce table.wishlist_table {
        .product-stock-status {
            display: none;
        }

        .product-add-to-cart {
            min-width: 200px;
        }
    }

    .mf-quick-view-modal div.product .woocommerce-product-gallery.images {
        display: none;
    }

    .mf-quick-view-modal div.product .entry-summary {
        position: static;
        margin-top: 0;
        padding: 20px;
    }

    .mf-banner-large {
        .banner-row {
            display: block;
            margin: 0;

            &:after {
                clear: both;
                content: "";
                display: block;
            }
        }

        .col-banner-content {
            padding: 0;
        }

        .banner-content,
        .banner-price {
            margin-left: 0;
            padding: 20px 20px 10px;
        }

        .banner-image,
        .col-banner-price {
            padding-left: 0;
            margin-top: 10px;
        }

        &.layout-2 .banner-price,
        &.layout-3 .banner-price {
            padding-left: 20px;
        }
    }

    .woocommerce:not(.full-content) .shop-toolbar {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &:after,
        &:before {
            display: none;
        }

        .woocommerce-ordering .current {
            min-width: 100%;
        }

        .woocommerce-ordering {
            order: 2;
        }

        .shop-view {
            order: 3;
            justify-content: flex-end;
        }

        .products-found,
        .shop-view,
        .woocommerce-ordering {
            width: 33.33%;
        }
        .mf-filter-mobile {
            width: 10%;
            order: 4;
            text-align: right;
            font-size: 20px;
            color: #000;
            font-weight: 700;
        }

        &.multiple {
            .woocommerce-ordering {
                margin-right: 0;
            }
        }

    }

    .mf-product-deals-carousel ul.products {
        margin-left: 0;
        margin-right: 0;
    }

    .mf-products-of-category .products-box ul.products {
        li {
            padding-left: 0;
            padding-right: 0;
        }

        li.product .product-inner {
            padding: 20px 20px 0;
        }

        &.columns-4 {
            li {
                &:nth-child( 3n+1 ) {
                    clear: both;
                    border-top: 1px solid #e1e1e1;
                }

                &:nth-child( 3n+2 ) {
                    border-top: 1px solid #e1e1e1;
                }

                &:nth-child( 3n+3 ) {
                    border-top: 1px solid #e1e1e1;
                }

                &:nth-child( 4n ) {
                    border-right: 1px solid #e1e1e1;
                }
            }
        }
    }

    .woocommerce-checkout form.checkout .col-woo-checkout-details {
        margin-bottom: 40px;
    }

    .account-page-promotion {
        .customer-login {
            .martfury-login-promotion {
                max-width: 100%;
            }

            .col-login-promotion {
                padding-left: 15px;
                margin-top: 50px;
            }
        }
    }

    .martfury-icon-box-2 .box-item {
        width: 33.33% !important;
    }

    // Vendor Page
    //DOKAN
    .dokan-store {
        .content-area {
            display: flex;
            flex-direction: column;

            .dokan-store-sidebar {
                order: 2;
                margin-top: 50px;
            }

            .dokan-single-store {
                order: 1;
            }

            .shop-toolbar {
                .products-found,
                .shop-view {
                    width: 50%;
                }
            }
        }
    }

    .woocommerce.wcfmmp-store-page .shop-toolbar .shop-view,
    .woocommerce.wcfmmp-store-page .shop-toolbar .products-found {
        width: 50%;
    }

    .woocommerce.wc-vendor-store .shop-toolbar .shop-view,
    .woocommerce.wc-vendor-store .shop-toolbar .products-found {
        width: 50%;
    }

    .woocommerce.dc-vendor-store .shop-toolbar .shop-view,
    .woocommerce.dc-vendor-store .shop-toolbar .products-found {
        width: 50%;
    }

    .search-results .site-content .blog-wapper .entry-header {
        width: 55%;
    }
    .search-results .site-content .blog-wapper .entry-content {
        width: 45%;
    }
}

@media (max-width: 767px) {
    body {
        .martfury-empty-space {
            .mf_empty_space_md,
            .mf_empty_space_lg {
                display: none;
            }

            .mf_empty_space_xs {
                display: block;
            }
        }
    }

    .site-header .header-extras .menu-item-account > a {
        height: 30px;
        padding-top: 4px;
        overflow: hidden;
        padding-left: 0;
        width: 24px;

        .extra-icon {
            position: static;
            display: block;
        }

        img {
            margin-top: -4px;
        }

        &.item-register {
            display: none;
        }
    }

    .martfury-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mf-recently-products.rv-full-width {
        & > .rv-container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .site-header .product-extra-search .hot-words {
        display: none;
    }

    .site-header .extras-menu .menu-item-hotline {
        display: none;
    }

    h2.font-small-mobile {
        font-size: 30px !important;
    }

    .top-promotion {

        .promotion-content {
            display: block;
            .promo-right {
                display: none;
            }

            .promo-left {
                width: 100%;
                justify-content: center;
                margin-right: 0;
            }

            .promo-link {
                justify-content: center;
                margin-top: 15px;
            }
        }
    }

    .mf-catalog-brands .brand-item {
        width: 50%;
    }

    .mf-catalog-banners .slick-arrow {
        display: none !important;
    }

    .martfury-icons-list ul li {
        width: 100%;

        &:after {
            display: none;
        }
    }

    .mf-products-top-carousel {
        .carousel-header {
            display: block;

            .cats-list {
                margin-top: 10px;
            }
        }

        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            display: block !important;
        }
    }

    .mf-products-carousel.header-3 .cat-header .cat-title,
    .mf-product-deals-grid .cat-header .cat-title {
        font-size: 16px;
    }

    .mf-other-categories .categories-list .col-cat {
        width: 50%;

        &:nth-child( 2n+1) {
            clear: both;
        }

        &:nth-child( 3n+1) {
            clear: none;
        }
    }

    .mf-products-grid .cat-header .link {
        padding-left: 0;
    }

    .woocommerce ul.products:not(.slick-slider) li.product {

        &:nth-child( 3n+1 ) {
            clear: none !important;
        }

        &:nth-child( 2n+1 ) {
            clear: both !important;
        }

    }

    .mf-product-deals-day {
        .cat-header {
            display: block;
            padding-bottom: 3px;
        }

        .header-content {
            justify-content: space-between;
            flex-wrap: wrap;

            .cat-title {
                margin-right: 0;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }

        .header-countdown {
            display: inline-block;
            font-size: 15px;
            margin-bottom: 8px;

            .martfury-countdown {
                display: inline-block;
                padding-left: 0;

                .digits {
                    padding: 0 6px;
                }

                .digits:after {
                    font-size: 16px;
                }

                .seconds .digits {
                    min-width: 30px;
                }
            }
        }

        ul.slick-dots {
            margin-top: 30px;
        }
    }

    .elementor-page .mf-product-deals-day .header-countdown {
        margin-bottom: 0;
    }

    .elementor-page .mf-product-deals-day .cat-header .cat-title {
        margin-right: 10px;
    }

    .mf-image-box .box-title {
        font-size: 14px;
    }

    .mf-products-of-category {
        display: block;

        .cats-info,
        .products-box {
            width: 100%;
        }

        .cats-info {
            padding: 18px;
            border-bottom: 1px solid #e1e1e1;
            flex-direction: row;
            flex-wrap: wrap;
            h2 {
                margin-bottom: 20px;
            }
            .extra-links {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin: 0 -10px;

                li {
                    margin: 0;
                    padding: 5px 10px;
                    line-height: 1;
                    position: relative;
                }
            }

            .footer-link {
                margin-top: 15px;
            }
        }

        .products-box {
            border: none;
            ul.products {
                padding-bottom: 20px;
                li {
                    border: none !important;

                    &:nth-child( 3n ),
                    &:nth-child( 3n+1 ),
                    &:nth-child( 3n+2 ),
                    &:nth-child( 3n+3 ) {
                        border: none !important;
                    }
                }
            }
        }

        &.no-links-group {
            .cats-info {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-direction: row;
                padding-bottom: 8px;

                h2 {
                    margin-bottom: 10px;
                }
            }

            .extra-links {
                display: none;
            }

            .footer-link {
                margin-top: 0;
                margin-bottom: 8px;
            }
        }

        &.no-banners-carousel {
            .products-box {
                width: 100%;
                border-left: none;
            }
        }
    }

    .elementor-page .mf-products-of-category .cats-info {
        margin-top: 0;

        .extra-links {
            margin: 0;
            li {
                padding-left: 0;
                padding-right: 15px;
            }
        }

        .footer-link {
            margin-top: 0;
        }
    }

    .mf-products-of-category .cats-info
    .mf-recently-products.footer-recently-viewed {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .mf-products-tabs {
        .tabs-header {
            display: block;

            .tabs-header-nav {
                display: block;
                margin-top: 10px;
            }

            .tabs-nav {
                display: block;
                margin: 0 -10px 5px;

                li {
                    padding: 0 10px;
                }
            }

            .link {
                padding-left: 0;
            }
        }
    }

    .mf-recently-products .recently-header {

        .title {
            font-size: 20px;
        }
    }

    .mf-category-tabs {
        .tabs-header {
            ul {
                padding-left: 40px;
                padding-right: 40px;
            }

            .slick-arrow {
                font-size: 18px;
            }

            .slick-prev-arrow {
                left: 15px;
            }

            .slick-next-arrow {
                right: 15px;
            }
        }

        .tabs-content {
            padding: 5px 5px 20px;
        }
    }

    .mf-product-deals-carousel .cat-header {

        .slick-arrow {
            padding-left: 0;
            padding-right: 15px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .mf-category-box .cat-header {
        display: block;

        .extra-links {
            margin: 5px -10px 0;

            li {
                padding: 0 10px;
            }
        }
    }

    .martfury-images-grid .images-list li {
        width: 50%;
    }

    .woocommerce .mf-single-product.mf-product-layout-3 {
        .entry-summary-content,
        .entry-summary-sidebar {
            width: 100%;
        }

        .entry-summary {
            display: block;
        }

        .entry-summary-sidebar {
            margin-top: 30px;
        }
    }

    .woocommerce #review_form #respond .comment-form-author,
    .woocommerce #review_form #respond .comment-form-email {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .woocommerce #reviews .bar-rating .star-item .sbar {
        min-width: 150px;
    }

    .woocommerce.shop-view-list .mf-shop-content ul.products li.product,
    .woocommerce.shop-view-list .wcfmmp-store-page-wrap ul.products li.product {
        .product-inner {
            display: block;
        }

        .mf-product-thumbnail,
        .mf-product-details {
            width: 100%;
        }

        .mf-product-details {
            display: block;
            padding-left: 0;
            .mf-product-content {
                width: 100%;
                padding-right: 0;
                margin-bottom: 20px;

            }

            .mf-product-price-box {
                max-width: 100%;
                float: none;
                clear: both;
            }
        }
    }

    .single-product-layout-6.woocommerce div.product form.cart {

        .actions-button {
            display: block;
        }

        .buy_now_button {
            float: none;
            margin-right: 0;
            width: 100%;
        }
    }

    .dokan-store {
        &.shop-view-list .seller-items ul.products li.product {
            .product-inner {
                display: block;
            }

            .mf-product-thumbnail,
            .mf-product-details {
                width: 100%;
            }

            .mf-product-details {
                display: block;
                padding-left: 0;
                .mf-product-content {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 20px;

                }

                .mf-product-price-box {
                    max-width: 100%;
                    float: none;
                    clear: both;
                }
            }
        }
    }

    .martfury-newletter {
        .form-title {
            font-size: 20px;
        }

        .form-desc {
            font-size: 14px;
        }
    }

    .footer-history-products {
        display: none;
    }

    .site-footer .footer-widgets .footer-sidebar {
        width: 100%;
        max-width: 100%;

        .widget_nav_menu {
            .clicked {
                display: none;
            }
        }
    }

    .widget .mc4wp-form .mc4wp-form-fields {
        flex-wrap: wrap;
    }

    .site-footer .footer-widgets .widget .mc4wp-form input[type=email] {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0;
    }

    .widget .mc4wp-form input[type="submit"] {
        width: 100%;
        margin-top: 15px;
    }

    .footer-layout .footer-payments {
        display: block;
        text-align: center;

        .payments {
            margin-top: 15px;
        }
    }

    .footer-layout .footer-info {
        .info-item {
            width: 100%;
            max-width: 100%;
            justify-content: flex-start;
        }
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name .product-detail-mobile .product-item .quantity {
        display: block;
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name {
        min-width: 185px;
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name a {
        font-size: 14px;
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name dl.variation dt {
        float: none;
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-thumbnail {
        padding-left: 10px;
        width: 100px;
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name dl.variation dd {
        display: inline-block;
    }

    .woocommerce table.shop_table tr td.product-name .woocommerce-Price-amount,
    .woocommerce table.shop_table tbody td.product-name .woocommerce-Price-amount {
        display: block;
    }

    .martfury-journey,
    .martfury-journey-els {
        ul a {
            font-size: 14px;

            span {
                width: 20px;
                height: 20px;
                bottom: 4px;
            }
        }
    }

    .woocommerce table.wishlist_table {
        .product-name {
            .product-price,
            .product-add-to-cart {
                display: block;
            }

            .product-add-to-cart {
                .ajax_add_to_cart.loading {
                    &:after {
                        top: 16px;
                    }
                }
            }
        }

        .product-price,
        .product-add-to-cart {
            display: none;
        }

        .product-price {
            padding: 10px 0;
            del,
            ins {
                display: inline-block;
            }
        }
    }

    .martfury-map-shortcode {
        .mf-map {
            max-height: 320px;
        }
    }

    .martfury-faq_group {
        .g-title {
            margin-bottom: 20px;
        }

        .title {
            margin-left: 0;
            margin-bottom: 5px;
        }

        .faq-item {
            margin-bottom: 30px;
        }
    }

    .martfury-coming-soon {
        .timer {
            min-width: auto;
            padding-left: 15px;
            padding-right: 15px;
            .digits {
                font-size: 24px;
            }
        }
    }

    .error-404 .page-content {
        .page-title {
            font-size: 24px;
        }

        p {
            font-size: 14px;
        }
    }

    .martfury-process {
        .process-step {
            padding: 0;
            &:before {
                left: 44px;
            }

            .step {
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-size: 30px;

            }
        }

        .process-image {
            display: none;
        }

        .process-content {
            padding-left: 80px;
            padding-bottom: 60px;
        }
    }

    .blog-wapper {
        &.post-item-list {
            &.format-video,
            &.format-gallery,
            &.format-audio,
            &.format-standard,
            &.format-image {
                .entry-content {
                    padding: 30px;
                }
            }

            &.format-link .entry-header {
                padding: 30px;
            }
        }

    }

    .single-post .entry-format.format-link {
        padding: 30px;
    }

    blockquote {
        font-size: 16px;
        padding-left: 20px;
    }

    .blog-wapper {
        flex-wrap: wrap;
        &.post-item-small-thumb {

            .entry-header {
                margin-bottom: 15px;

                .entry-image img {
                    height: auto;
                }
            }
            .entry-header,
            .entry-content {
                width: 100%;
            }

            &.format-link .entry-header {
                padding: 30px;
            }
        }
    }

    .single-post-header .entry-title {
        font-size: 24px;
    }

    .single-post-header.layout-2 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .single-post .post-author-box {
        padding: 30px;

        .post-author-avatar {
            width: 100%;
            margin-bottom: 15px;
        }

        .post-author-desc {
            padding-left: 0;
        }
    }

    .single-post.single-post-layout-3 .post-author-box,
    .single-post.single-post-layout-4 .post-author-box {
        padding: 30px;
    }

    .single-post .post-navigation {
        .nav-previous,
        .nav-next {
            width: 100%;
            float: none;
            margin-bottom: 15px;
            text-align: left;
        }
    }

    .search-results .site-content .blog-wapper .entry-header,
    .search-results .site-content .blog-wapper .entry-content {
        width: 100%;
    }

    .woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-MyAccount-orders {
        .woocommerce-orders-table__header-order-total,
        .woocommerce-orders-table__cell-order-total,
        .woocommerce-orders-table__header-order-date,
        .woocommerce-orders-table__cell-order-date {
            display: none;
        }
    }

    .woocommerce-account .woocommerce .woocommerce-MyAccount-content .my_account_orders {
        .order-date,
        .order-total {
            display: none;
        }
    }

    .woocommerce-account .woocommerce .woocommerce-MyAccount-content .addresses .col-1,
    .woocommerce-account .woocommerce .woocommerce-MyAccount-content .addresses .col-2 {
        width: 100%;
        margin-bottom: 30px;
    }

    .martfury-latest-post .post-header {
        display: block;

        .extra-links {
            margin-top: 15px;
            padding-left: 0;
            margin-left: -15px;
            margin-right: -15px;

            li {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .mf-product-gallery-degree {
        width: 100% !important;
    }

    .woocommerce div.product .tawc-deal {
        padding: 0;
        background-color: transparent;
    }

    .mf-product-deals-carousel.woocommerce .product .woocommerce-product-gallery {
        padding-left: 0;

        .flex-control-thumbs {
            display: none;
        }
    }

    .mf-product-deals-day .cat-header,
    .elementor-page .mf-product-deals-day .cat-header {
        display: block;

        .extra-links {
            margin-top: 15px;
        }
    }

    .dokan-seller-listing form.dokan-seller-search-form input#search {
        width: 100%;
    }

    .page-header-sliders ul li .title {
        font-size: 24px;
    }

    .page-header-sliders .slick-arrow-content .slick-arrow {
        display: none;
    }

    .page-header-sliders ul li .page-header-content {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .page-header-sliders .page-header-inner,
    .page-header-sliders {
        max-height: 350px;
    }

    .page-header-sliders ul li .featured-img {
        background-size: cover;
    }

    .page-header-sliders ul li .title {
        margin-top: 30px;
    }

    .mf-newsletter-popup .newletter-content .nl-inner {
        width: 100%;
    }

    .page-header-page .entry-title {
        font-size: 24px;
    }

    .mf-vendor-header-tabs ul li {
        display: block;
        margin: 5px 0;
        padding: 0;
    }

    .mf-vendor-header-tabs {
        display: block;
    }

    .woocommerce div.product .cart {
        .actions-button {
            width: 100%;
            clear: both;
            padding-top: 20px;
            justify-content: flex-start;

            &:after {
                clear: both;
                content: "";
                display: block;
            }

            .yith-wcwl-add-to-wishlist {
                margin-left: 0;
            }

            .yith-wcwl-add-to-wishlist .yith-wcwl-add-button > a,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse > a,
            .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse > a,
            .mf-compare-button .compare {
                width: auto;
                height: auto;
                overflow: visible;
                display: flex;
                align-items: center;

                &:before {
                    padding-right: 10px;
                }
            }
        }
    }

    .woocommerce div.product.mf-has-buy-now .cart {
        .actions-button {
            width: auto;
            clear: none;
            padding-top: 0;
        }
    }

    .sticky-product-info-wapper {
        display: none;
    }

    .mf-banner-medium.has-img {
        &.layout-2,
        &.layout-3,
        &.layout-4 {
            border: 1px solid rgba(0, 0, 0, 0.15);
            .banner-content {
                position: static;

                .link {
                    margin-top: 20px;
                }
            }
        }

    }

    .mf-products-list {
        ul.products li.product {
            width: 100%;
        }
    }

    .woocommerce:not(.full-content) .shop-toolbar {
        .products-found,
        .shop-view {
            width: 50%;
        }

        .mf-filter-mobile {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            span {
                padding-left: 8px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .woocommerce-ordering {
            width: 70%;

            .current {
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    max-width: 90%;
                }
            }
        }

        .mf-filter-mobile {
            width: 30%;
        }

        .woocommerce-ordering {
            order: 3;
        }

        .shop-view {
            order: 2;
        }
    }

    .account-page-columns .customer-login .martfury-login-columns .tabs-content {
        display: block;

        &:after {
            display: none;
        }

        .tabs-panel {
            width: 100%;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #e8e8e8;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .mf-banner-small.has-bg-img {
        .banner-content {
            .box-title {
                font-size: 18px;
            }

            .link-all {
                font-size: 12px;
            }
        }

        .box-price {
            width: 43px;
            height: 43px;

            .s-price {
                font-size: 12px;
            }
        }
    }

    .site-footer .footer-newsletter .newsletter-form .mc4wp-form-fields {
        input[type="submit"] {
            min-width: auto;
        }
    }

    .woocommerce div.product form.cart div.quantity .qty-box {
        text-align: center;
    }

    .mf-product-fbt {
        padding-left: 20px;
        padding-right: 20px;
        ul.products {
            padding-left: 0;
            margin-left: 0;
            margin-right: 0;
            li.product {
                .product-content {
                    padding-right: 0;

                    .thumbnail:after {
                        display: none;
                    }
                }

                &.product-buttons {
                    width: 100%;
                }
            }
        }
    }

    .catalog-filter-mobile {

        .catalog-sidebar {
            width: 85%;
            background-color: #fff;
            position: fixed;
            right: 100%;
            top: 0;
            bottom: 0;
            overflow: hidden;
            color: #aaa;
            z-index: 100000;
            transition: transform .25s ease;
            margin: 0;
            padding: 0;
            opacity: 1;
            display: block;
            animation: unset;
            height: 100%;
            overflow-y: auto;

            .mf_widget_product_categories,
            .widget_product_categories {
                margin-bottom: 0;
            }
        }

        &.mf-filter-active {
            overflow-x: hidden;
            .catalog-sidebar {
                transform: translate3d(100%, 0, 0);
            }

            .martfury-off-canvas-layer {
                z-index: 9999;
                display: block;
            }
        }
    }

    .mf-product-deals-grid ul.products {
        padding: 20px 5px;
    }

    .martfury-newletter .form-area {
        padding: 20px;
    }

    .mobile-version .martfury-newletter.no-image .form-area {
        padding-right: 30px;
    }

    .mf-elementor-banner-large .banner-content {
        flex-direction: column;
        align-items: flex-start;

        .banner-left-content {
            margin-right: 0;
        }

        .banner-desc {
            margin-bottom: 30px;
        }
    }

    .site-content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .wcfm-store-list-page .wcfmmp-store-lists-sorting {
        .wcfm-woocommerce-ordering {
            float: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;

            #wcfmmp_store_orderby {
                width: 100%;
            }
        }
    }

    .wcfm-store-list-page #wcfmmp-stores-lists .wcfmmp-store-lists-sorting {
        text-align: left;
    }

    .wcfm-dashboard-page,
    .dokan-dashboard,
    .mf-vendor-dashboard-page {
        .mf-navigation-mobile {
            display: none;
        }
    }

    .martfury-icon-box-2 .box-item {
        width: 50% !important;
        justify-content: center !important;
        padding-left: 0 !important;
    }

    #wcfmmp-store .address {
        width: 100% !important;
    }

    .wcfmmp-store-page .right_side_full .shop-toolbar .mf-filter-mobile {
        display: none;
    }

    // Dokan Store
    .dokan-store .content-area .shop-toolbar .mf-filter-mobile {
        display: none;
    }

    // WCFM Store
    .wcfm-store-page .content-area .shop-toolbar .mf-filter-mobile {
        display: none;
    }

    // WC Store
    .wc-vendor-store .content-area .shop-toolbar .mf-filter-mobile {
        display: none;
    }

    // DC Store
    .dc-vendor-store .content-area .shop-toolbar .mf-filter-mobile {
        display: none;
    }

    .mf-product-deals-carousel {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wcfm_popup_wrapper .enquiry-form .wcfm_popup_label,
    .wcfm_popup_wrapper .enquiry-form .wcfm_popup_input {
        width: 100%;
    }

    .wcfm_popup_wrapper .enquiry-form .wcfm_popup_label {
        margin-bottom: 10px;
    }

    .single-product #cboxLoadedContent {
        padding: 0;
        border: none;
        margin: 15px;
    }

    .mf-recently-products.no-background {
        padding-bottom: 60px;
    }

}

@media (max-width: 600px) {

    .mf-other-categories .categories-list .col-cat {
        width: 100%;

        &:nth-child( 2n+1) {
            clear: none;
        }

    }

    .mf-product-deals-carousel {
        padding-left: 10px;
        padding-right: 10px;
    }

    .woocommerce div.product .tawc-deal .deal-expire-date .deal-expire-countdown {
        .seconds {
            padding-right: 0;
        }

        .digits {
            min-width: 55px;
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 24px
        }

        .text {
            font-size: 13px;
        }
    }

    .woocommerce-cart .woocommerce table.cart .btn-update,
    .woocommerce-cart .woocommerce table.checkout .btn-update ,
    .woocommerce-cart .woocommerce table.cart .empty-cart-button{
        float: none;
        width: 100%;
        margin-top: 15px;

        .button {
            width: 100%;
        }
}

    .woocommerce-cart .woocommerce table.cart .btn-update {
        margin-left: 0;
    }

    .woocommerce-cart .woocommerce table.cart .btn-shop,
    .woocommerce-cart .woocommerce table.checkout .btn-shop {
        width: 100%;
    }

    .dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-mf_custom .profile-info-summery-wrapper .profile-info-summery .profile-info-head {
        width: 100%;
        text-align: center;

        .profile-img.profile-img-square img {
            width: auto;
        }
    }

    .dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-mf_custom .profile-info-summery-wrapper .profile-info-summery .profile-info {
        width: 100%;
    }

    .blog-layout-grid,
    .blog-layout-sidebar-content,
    .blog-layout-content-sidebar,
    .blog-layout-masonry {
        .blog-wapper {
            width: 100%;
        }
    }

    .primary-mobile-nav {
        width: 320px;
        left: -320px;

    }

    .primary-user-nav {
        width: 320px;
        right: -320px;
    }

    .display-user-mobile {
        .primary-user-nav {
            transform: translate3d(-320px, 0, 0);
        }
    }

    .display-mobile-menu .primary-mobile-nav {
        transform: translate3d(320px, 0, 0);
    }

    .account-page-promotion .login-promotion .promotion-ads-content {
        display: block;

        .promotion-ads-title {
            margin: 0 0 30px;
        }
    }

}

@media (max-width: 479px) {
    .woocommerce div.product form.cart div.quantity {
        margin-bottom: 15px;
        float: none;
        margin-right: 0;
    }

    .woocommerce div.product.mf-has-buy-now .cart {
        .single_add_to_cart_button {
            width: 100%;
        }

        .actions-button {
            width: 100%;

            .buy_now_button {
                margin-left: 0;
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    .primary-mobile-nav {
        width: 280px;
        left: -280px;
    }

    .display-mobile-menu .primary-mobile-nav {
        transform: translate3d(280px, 0, 0);
    }

    .primary-user-nav {
        width: 280px;
        right: -280px;
    }

    .display-user-mobile {
        .primary-user-nav {
            transform: translate3d(-280px, 0, 0);
        }
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-quantity {
        width: auto;
    }

    .woocommerce-cart .woocommerce table.shop_table td.product-name {
        min-width: auto;
    }

    .woocommerce-cart .woocommerce table.shop_table td .quantity {
        width: 50px;
        .qty {
            margin-right: 0;
            margin-left: 0;
        }

        .decrease,
        .increase {
            display: none;
        }
    }

    .mf-banner-large.layout-3 {
        padding: 30px;
    }

    .mf-banner-small {
        .box-price,
        .banner-content .desc {
            display: none;
        }

        .banner-content {
            margin: 20px;
        }

        &.has-bg-img {
            .box-price {
                display: block;
                top: 60%;
                left: 60%;
            }

            &.position-price-2 {
                .box-price {
                    top: 10px;
                    left: 65%;
                }
            }
        }
    }

    .mf-banner-medium.layout-5 .banner-content .link {
        display: none;
    }

    .site-header .mobile-menu-row {
        position: relative;
    }

    .site-header .product-extra-search .search-wrapper {
        position: static;
    }

    .site-header .product-extra-search .psearch-content {
        position: relative;
    }
}

@media (max-width: 370px) {
    .woocommerce .shop-toolbar .woocommerce-ordering .current {
        min-width: 200px;
    }

    .widget_shopping_cart_content .woocommerce-mini-cart__buttons .button {
        min-width: inherit;
    }

    .woocommerce div.product .tawc-deal .deal-expire-date .deal-expire-countdown .text {
        display: none;
    }

    .woocommerce div.product .tawc-deal .deal-expire-date .deal-expire-countdown .digits {
        min-width: 50px;
    }

    .woocommerce div.product .tawc-deal .deal-expire-date .deal-expire-countdown .divider {
        width: 10px;
    }
}

@media (max-height: 820px) {
    .site-header .extras-menu .menu-item-cart .mini-cart-content .product_list_widget {
        max-height: 350px;
    }
}